<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let b of beers">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{b.nameDisplay}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">{{(b.description?.length>300)? (b.description | slice:0:300)+'..':(b.description) }}</p>
          <a routerLink="/beers/{{b.id}}" class="card-link">See more</a>
        </div>
      </div>
    </div>
  </div>
</div>
